.header{ng: {controller: 'HeaderCtrl'}}
  .ul
    .li
      %a{href: '/html-embedded'}
        HTML template inside SCRIPT
    .li
      %a{href: '/xhr'}
        HTML file via XHR
    .li
      %a{href: '/js-compiled'}
        HTML compiled in javascripts
