-require './lib/asset_helpers.rb'

%h1
  WELCOME TO TEMPLATE NINJA APP
%h2
  We will explore different templates options
%div
  Intorpolation example: '{{meow}}'
  = partial('_sub', :var1 => true, :var2 => false)
  = partial('_sub', :var1 => true, :var2 => false)	